<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="交换,旧物,校园,废物利用,回收,交易">
    <meta name="description" content="校园内旧物交换平台，用于学生互相交换物品。">
    <meta name="author" content="dinglz">
    <link rel="stylesheet" href="/bulma.min.css">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <title>校园旧物交换平台</title>
</head>
<body>
<script src="/layui/layui.js"></script>
<div class="modal" id="LoginModal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">登录</p>
            <button class="delete" aria-label="close" onclick="document.getElementById('LoginModal').classList.remove('is-active')"></button>
        </header>
        <div class="layui-form">
            <section class="modal-card-body">
                <div class="field">
                    <label class="label">用户名</label>
                    <div class="control">
                        <input name="username" class="input" type="text" placeholder="请输入用户名">
                    </div>
                </div>
                <div class="field">
                    <label class="label">密码</label>
                    <div class="control">
                        <input name="password" class="input" type="password" placeholder="请输入密码">
                    </div>
                </div>
            </section>
            <footer class="modal-card-foot">
                <button class="button is-success is-fullwidth" lay-submit lay-filter="LoginForm">登录</button>
            </footer>
        </div>
    </div>
</div>
<div class="modal" id="RegisterModal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">注册</p>
            <button class="delete" aria-label="close" onclick="document.getElementById('RegisterModal').classList.remove('is-active')"></button>
        </header>
        <div class="layui-form">
            <section class="modal-card-body">
                <div class="notification is-info">
                    理论上学生账号应该由校方上传数据自动生成。本注册仅适用于由于<strong>特殊情况</strong>未能获得账号的情况。
                </div>
                <div class="field">
                    <label class="label">用户名</label>
                    <div class="control">
                        <input name="username" class="input" type="text" placeholder="请输入用户名">
                    </div>
                    <p class="help">作为登录的账号，必须只包含英文！</p>
                    <p class="help">长度在6位到15位之间</p>
                </div>
                <div class="field">
                    <label class="label">密码</label>
                    <div class="control">
                        <input name="password" class="input" type="password" placeholder="请输入密码">
                    </div>
                    <p class="help">长度在8位到50位之间</p>
                </div>
                <div class="field">
                    <label class="label">真实姓名</label>
                    <div class="control">
                        <input name="realname" class="input" type="text" placeholder="请输入真实姓名">
                    </div>
                    <p class="help">作为在本网站上的身份凭证。冒用身份者需承担造成的一切责任。</p>
                </div>
                <div class="field">
                    <label class="label">年级</label>
                    <div class="control">
                        <input name="grade" class="input" type="number" placeholder="请输入年级">
                    </div>
                    <p class="help">仅为数字，高一为1，高二为2，高三为3</p>
                </div>
                <div class="field">
                    <label class="label">班级</label>
                    <div class="control">
                        <input name="class" class="input" type="number" placeholder="请输入班级">
                    </div>
                    <p class="help">仅为数字，一班为1，以此类推</p>
                </div>
            </section>
            <footer class="modal-card-foot">
                <button class="button is-success is-fullwidth" lay-submit lay-filter="RegisterForm">注册</button>
            </footer>
        </div>
    </div>
</div>
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="/logo.png" width="200" height="160">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/">
                主页
            </a>

            <a class="navbar-item">
                分类
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    更多
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item">
                        关于
                    </a>
                    <a class="navbar-item">
                        关于作者
                    </a>
                    <a class="navbar-item">
                        意见反馈
                    </a>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                {{if .User_login}}
                <figure class="image">
                    <img class="is-rounded" src="/avatar/{{.User_username}}">
                </figure>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        {{User_GetRealNameByUsername .User_username}}
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                            资料
                        </a>
                        {{if gt .User_level 1}}
                        <a class="navbar-item" href="/admin">
                            管理后台
                        </a>
                        {{end}}
                        <hr class="navbar-divider">
                        <a class="navbar-item" href="/api/logout">
                            退出登录
                        </a>
                    </div>
                </div>
                {{else}}
                <div class="buttons">
                    <a class="button is-primary" onclick="document.getElementById('RegisterModal').classList.add('is-active')">
                        <strong>注册</strong>
                    </a>
                    <a class="button is-light" onclick="document.getElementById('LoginModal').classList.add('is-active')">
                        登录
                    </a>
                </div>
                {{end}}
            </div>
        </div>
    </div>
</nav>
    <div style="margin: 10px">
        {{embed}}
    </div>
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                当前校区：<strong>{{.School}}</strong>
                <br>
                <strong>校园旧物交换平台</strong> by <strong>丁励治</strong> from <strong>合肥市第七中学</strong>.
                <br>
                copyright &copy; dinglz 2023
            </p>
        </div>
    </footer>
<script>
    layui.use('form', function(){
        var form = layui.form;
        form.on('submit(LoginForm)', function(data){
            layui.$.post("/api/login",data.field,function (res,status){
                if(res.status === "ok")
                {
                    layer.msg(res.message,{icon:1})
                    setTimeout(()=>{
                        window.location.href = '/';
                    },3000)
                }
                else
                {
                    layer.msg(res.message,{icon:2})
                }
            })
            return false;
        });
    });
</script>
<script>
    layui.use('form', function(){
        var form = layui.form;
        form.on('submit(RegisterForm)', function(data){
            console.info(data.field)
            return false;
        });
    });
</script>
{{if .WarningMessage}}
<script>
    layer.msg('{{.WarningMessage}}',{icon:3});
</script>
{{end}}
</body>
</html>