<h1 class="title">关于</h1>
<article class="message is-link">
    <div class="message-header">
        <p>关于</p>
    </div>
    <div class="message-body">
        <strong>校园旧物交换平台</strong>由<strong>丁励治</strong>开发，作为综合信息素养大赛的作品。<br>
        通过本平台，您可以交换或出售闲置物品。与提出交换的人交流。
    </div>
</article>
<hr>

<h1 class="title" id="author">关于作者</h1>
<article class="message is-link">
    <div class="message-header">
        <p>关于作者</p>
    </div>
    <div class="message-body">
        合肥市第七中学24届高二12班<strong>丁励治</strong> <br>
        热爱编程，热爱生活，向往诗一样的一切。
    </div>
</article>
<hr>