<div style="text-align: right">
    <div class="dropdown is-hoverable">
        <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu3">
                <span>按金额排序</span>
            </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu3" role="menu">
            <div class="dropdown-content">
                <a href="/money/high" class="dropdown-item">
                    从高到低
                </a>
                <a href="/money/low" class="dropdown-item">
                    从低到高
                </a>
            </div>
        </div>
    </div>
    <button class="button" onclick="window.location.href='/'">
        按时间排序
    </button>
</div>
{{range .Changes}}
<div class="columns">
    {{range .}}
    <div class="column">
        <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                    <img src="/picture/change/{{.ID}}/1" alt="封面图片">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-48x48">
                            <img src="/avatar/{{User_GetUsernameByID .User}}" alt="用户头像">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-4">{{.Title}}</p>
                        <p class="subtitle is-6" onclick="window.location.href='/user/{{.User}}'">@{{User_GetRealnameByID .User}}</p>
                    </div>
                </div>

                <div class="content">
                    {{.Description}}
                    <br>
                    分类：<span class="tag is-info">{{Subject_GetNameByID .Subject}}</span>
                    <br>
                    出售金额：{{.Money}} 元
                    <br>
                    我想要：{{.Want}}
                    <br>
                    <br>
                    <button class="button is-primary is-fullwidth" onclick="window.location.href='/change/id/{{.ID}}'">查看详情</button>
                </div>
            </div>
        </div>
    </div>
    {{end}}
</div>
{{end}}
{{if .Page_now}}
<nav class="pagination" role="navigation" aria-label="pagination">
    {{if eq .Page_present "0"}}
    <a class="pagination-previous is-disabled">前一页</a>
    {{else}}
    <a class="pagination-previous" href="?page={{.Page_present}}">前一页</a>
    {{end}}
    {{if eq .Page_now .Page_all}}
    <a class="pagination-next is-disabled">下一页</a>
    {{else}}
    <a class="pagination-next" href="?page={{.Page_next}}">下一页</a>
    {{end}}
    <ul class="pagination-list">
        {{range .Page_map}}
        {{if eq . "..."}}
        <li>
            <span class="pagination-ellipsis">&hellip;</span>
        </li>
        {{else}}
        {{if eq . $.Page_now}}
        <li>
            <a class="pagination-link is-current" aria-current="page" aria-label="Goto page {{.}}">{{.}}</a>
        </li>
        {{else}}
        <li>
            <a class="pagination-link" aria-label="Goto page {{.}}" href="?page={{.}}" >{{.}}</a>
        </li>
        {{end}}
        {{end}}
        {{end}}
    </ul>
</nav>
{{end}}
<script>
    const observer = lozad(document.querySelector('img'));
    observer.observe();
</script>